{% load static %}
{% include 'main/navbar.html' %}

  <title>Events</title>

{% block body %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Events
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Events</li>
    </ol>
    {% if not events %}
    <h3>No events yet.</h3>
    {% endif %}
    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <div class="row">
          {% for event in events %}	
	      <div class="col-lg-4 col-sm-6 portfolio-item">
	        <div class="card h-100">
	          <a href="#"><img class="card-img-top" src="{{ event.image.url }}" style="height: 150px;" alt=""></a>
	          <div class="card-body">
	            <h4 class="card-title">
	              {{ event.title }}
	            </h4>
              <p>{{ event.description }}</p>
              <p>{{ event.time }}</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Event Details</button>

              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      
                      <h4 class="modal-title">{{event.title}}</h4>
                    </div>
                    <div class="modal-body">
                      <h5>Description - </h5>
                      <p>{{event.description}}</p>
                      <h5>Venue - </h5>
                      <p>{{event.venue}}</p>
                      <h5>Fees - </h5>
                      <p>{{event.fees}}</p>
                      <h5>Organiser Details - </h5>
                      <p>
                        <i title="address" class="fa fa-address-card-o"></i> {{event.client.address}}
                      </p>
                      <p>
                        <i title="phone" class="fa fa-phone"></i> {{event.client.phone}}
                      </p>
                      <p>
                        <i title="email" class="fa fa-envelope"></i> {{event.client.user.username}}
                      </p>
                      <p>
                        <i title="website" class="fa fa-link"></i><a href="{{client.website}}"> {{event.client.website}}</a>
                      </p>
                      <p>
                        <i title="facebook" class="fa fa-facebook"></i><a href="{{client.fb}}"> {{event.client.fb}}</a>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>

	          </div>
	        </div>
	      </div>
	    {% endfor %}
        </div>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <form action="/events/" method="post">
        	{% csrf_token %}
        <div class="card mb-4">
          <h5 class="card-header">Locations</h5>
          <div class="card-body">
            <div class="input-group">
            	<select name="location">
            	<option value="all" selected="true">All</option>
            	{% for location in locations %}
            	<option value="{{location.id}}"> {{location}}</option>
            	{% endfor %}
            	</select>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                {% for category in categories %}
                  <li>
                  	{% if category in allowed_categories %}
                  	<input type="checkbox" name="category" value="{{ category.id }}" checked="true">
                  	{% else %}
                  	<input type="checkbox" name="category" value="{{ category.id }}">
                  	{% endif %} 
                  	{{category}}
                  </li>
                {% endfor %}
                  <li>
	                  <button type="submit" class="btn btn-primary"> Submit </button>
	              </li>
                  </form>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


{% endblock %}